.form_login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transform: translate(0%, 50%);
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    grid-gap: 30px;
}
.form_login .inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.form_login .btns {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;
    margin-top: 40px;
}
.form_login .login_btn, .form_login .registration_btn {
    width: 100%;
    font: 16px Inter;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.form_login .registration_btn {
    opacity: 0.4;
}